.loginScreen {
    min-height: 100%;
    width: 100%;
}

.imgCarroLogin {
    display: none;
}

.redSide {
    display: none;
}

.loginRightSide {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cadastroLeftSide {
    display: none;
}

.textWelcome {
    font-size: 2rem;
}

.containerInputsLogin {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.labelInput {
    width: 100%;
    font-size: 1rem;
}

.senha {
    margin-bottom: 24px;
}

.containerOpcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.esqueciSenha,
.criarConta {
    font-size: 1rem;
    height: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .textWelcome {
        font-size: 2.25rem;
        font-weight: 600;
    }

    .labelInput {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .loginScreen {
        position: relative;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
    }

    .imgCarroLogin {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55%;
        height: auto;
        object-fit: contain;
        z-index: 2;
    }

    .loginRightSide {
        min-height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .cadastroLeftSide {
        display: flex;
        height: 100%;
        width: 50%;
        background-color: white;
    }

    .containerInputsLogin {
        z-index: 4;
    }

    .labelInput {
        font-weight: 600;
    }

    .registerAccountInLogin {
        position: relative;
        z-index: 4;
    }

    .redSide {
        position: absolute;
        top: 0;
        right: 50%;
        width: 48%;
        height: 60%;
        background-color: var(--primary-color);
        transition: transform 0.6s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        padding-bottom: 250px;
        z-index: 2;
    }

    .carLoginimage {
        position: absolute;
        bottom: -300px;
    }

    .loginScreen.active-register .redSide {
        transform: translateX(100%);
    }

    .cadastroLeftSide,
    .loginRightSide {
        transition: all 0.6s ease-in-out;
    }

    .cadastroLeftSide {
        opacity: 0;
        width: 50%;
        background-color: white;
    }

    .loginScreen.active-register .cadastroLeftSide {
        opacity: 1;
        width: 50%;
    }

    .loginScreen.active-register .loginRightSide {
        opacity: 0;
    }

    .phraseLogin {
        color: white;
        font-size: 2.5rem;
        z-index: 4;
        text-align: center;
    }

    .containerOpcoes {
        z-index: 4;
        gap: 6px;
        padding: 6px;
    }

    .esqueciSenha,
    .criarConta {
        color: var(--terciary-color);
        font-size: 1.5rem;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        font-weight: 500;
    }
}

@media (max-height: 900px) {
    .redSide {
        padding-bottom: 275px;
        height: 80%;
    }

    .carLoginimage {
        height: 400px;
        bottom: -150px;
    }

}

@media (max-height: 800px) {
    .redSide {
        padding-bottom: 250px;
        height: 80%;
    }

    .carLoginimage {
        height: 300px;
        bottom: -100px;
    }

}