.topBar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-start;
    height: 120px;
    padding: 0 16px;
    background-color: white;
}

.side {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-top: 24px;
}

.left {
    justify-self: start;
}

.right {
    justify-self: end;
}

.logo {
    height: 150px;
    justify-self: center;
}

@media (min-width: 1024px) {
    .topBar {
        align-items: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .logo {
        display: none;
    }

    .left {
        margin-left: 185%;
    }
}