.homeScreen {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: white;
}

.titleHome {
    font-size: 2rem;
}

.alinhamentoBtn {
    display: none;
}

.containerScore {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    border: solid 2px var(--border-primary);
    margin-top: 24px;
}

.textsScore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 12px;
    text-shadow: none;
}

.garagePoints {
    font-size: 1.25rem;
    color: #34C759;
    /* vai mudar dependendo da pontuacao*/
}

.cards {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.card {
    height: 230px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: 14px;
    border: solid 2px var(--border-primary);
    cursor: pointer;
}

.imgCar {
    height: 70%;
    width: 100%;
    border-radius: 12px;
}

.lowerInformations {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carName {
    font-size: 1.25rem;
}

.carPlate,
.carPoints {
    font-size: 0.875rem;
}

.carPoints {
    color: var(--secondary-color);
    background-color: #34C759;
    padding: 4px;
    border-radius: 6px;
}

.buttonVerDetalhes {
    display: none;
}

.addCarButton {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: none;
    border: solid 2px var(--border-primary);
    cursor: pointer;
    color: var(--secondary-color);
}

.addCarButton svg {
    color: var(--secondary-color);
}

@media (min-width: 768px) {

    .homeScreen {
        padding-left: 80px;
        padding-right: 80px;
    }

    .containerScore {
        height: 80px;
        width: 100%;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 0px;
        padding-left: 36px;
        padding-right: 36px;
    }

    .textsScore {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;
    }

    .bar {
        height: 12px;
        width: 100%;
        border-radius: 4px;
        background-color: #A6A6A6;
    }

    .filledBar {
        height: 100%;
        width: 80%;
        border-radius: 4px;
        background-color: #34C759;
    }

    .garagePoints {
        font-size: 2rem;
    }

    .cards {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        height: 450px;
        width: 42%;
    }

    .carName {
        font-size: 2rem;
    }

    .carPlate,
    .carPoints {
        font-size: 1.25rem;
    }

    .addCarButton {
        font-size: 1.25rem;
    }

    .iconAddCarButton {
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 1024px) {
    .homeScreen {
        position: relative;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        z-index: 9999;
        justify-content: space-around;
        padding-bottom: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .titleHome {
        display: flex;
        margin-top: 24px;
        width: 100%;
        text-align: start;
        font-size: 2rem;
    }

    .cards {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 24px;
        padding: 20px;
        scrollbar-width: thin;
    }

    .card {
        height: 100%;
        width: 40%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        cursor: auto;
    }

    .cards::-webkit-scrollbar {
        height: 8px;
    }

    .cards::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }

    .carPoints {
        height: 40px;
        width: 80px;
        background-color: var(--primary-color);
        /* vai mudar dependendo da pontuacao*/
        color: white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
    }

    .alinhamentoBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonVerDetalhes {
        height: 60px;
        width: 240px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 12px;
        border: solid 2px var(--primary-color);
        cursor: pointer;
    }

}