.expensesScreen {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    padding-bottom: 100px;
    font-family: sans-serif;
}

.headerExpenseScreen {
    width: 100%;
}

.expensesTitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.filterContainer {
    width: 100%;
}

.buttonExpenses {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btnFilter {
    flex: 1;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.btnFilter.active {
    background-color: var(--primary-color);
    color: white;
}

.btnFilter.inactive {
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    border: solid 2px var(--border-primary);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #f4a7a7;
    margin-bottom: 30px;
}

.expensesList {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 25px;
    border: solid 2px var(--border-primary);
    border-radius: 12px;
    height: auto;
    background-color: white;
}

.expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border-primary);
    min-height: 50px;
    padding: 8px 16px;
    gap: 10px;
}

.expenseItem:hover {
    background-color: var(--border-primary);
}

.expenseLabel {
    color: var(--terciary-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 12px;
    font-size: 0.95rem;
}

.expenseValue {
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
}

.totalRow {
    width: 100%;
    border-bottom: none;
    padding-top: 10px;
}

.totalLabel {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.totalValue {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: right;
    white-space: nowrap;
}

@media (min-width: 768px) {

    .expensesScreen {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 20px;
        padding-bottom: 100px;
        font-family: sans-serif;
    }

    .headerExpenseScreen {
        display: flex;
    }

    .filterContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .expenseItem {
        min-height: 80px;
        /* Aumentado de 50px para 80px */
        padding: 12px 24px;
        /* Mais preenchimento interno */
    }

    .expenseLabel {
        font-size: 1.2rem;
        /* Texto um pouco maior */
    }

    .expenseValue {
        font-size: 1.3rem;
    }


    .buttonExpenses {
        width: 40%;
    }

    .totalLabel {
        font-size: 2rem;
        flex: 1;
    }

    .totalValue {
        font-size: 2rem;
        text-align: right;
    }
}

@media (min-width: 1025px) {
    .expensesScreen {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        overflow-y: auto;
    }

    .expensesTitle {
        display: flex;
        margin-top: 24px;
        width: 100%;
        text-align: start;
        font-size: 2rem;
    }

    .buttonExpenses {
        width: 80%;
    }

    .expensesList {
        margin-top: 40px;
        width: 100%;
        overflow-y: auto;
    }

    .expenseItem {
        min-height: 90px; /* Itens bem robustos para preencher o notebook */
        padding: 15px 32px;
    }

    .expenseLabel,
    .expenseValue {
        font-size: 1.4rem; /* Fontes maiores para telas grandes */
    }

    .totalLabel {
        font-size: 2rem;
        width: 76%;
    }

    .totalValue {
        font-size: 2rem;
        width: auto;
    }

    .totalRow {
        padding: 20px 32px;
    }
}