.expensesScreen {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    padding-bottom: 100px;
    font-family: sans-serif;
}

.headerExpenseScreen {
    width: 100%;
}

.expensesTitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #333;
}

.filterContainer {
    width: 100%;
}

.buttonExpenses {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btnFilter {
    flex: 1;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.btnFilter.active {
    background-color: var(--primary-color);
    color: white;
}

.btnFilter.inactive {
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    border: solid 2px var(--border-primary);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #f4a7a7;
    margin-bottom: 30px;
}

.expensesList {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border: solid 2px var(--border-primary);
    border-radius: 12px;
}

.expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border-primary);
    height: 60px;
    padding-right: 12px;
}

.expenseLabel {
    color: var(--terciary-color);
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    font-size: 0.95rem;
}

.expenseValue {
    width: 20%;
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
}

.totalRow {
    width: 100%;
    margin-top: 10px;
    border-bottom: none;
}

.totalLabel {
    width: 80%;
    font-weight: bold;
    color: var(--primary-color);
}

.totalValue {
    font-weight: bold;
    color: var(--primary-color);
    text-align: start;
    flex: 1;
}

@media (min-width: 768px) {

    .expensesScreen {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 20px;
        padding-bottom: 100px;
        font-family: sans-serif;
    }

    .headerExpenseScreen {
        display: flex;
    }

    .filterContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .expenseItem {
        height: 80px;
    }


    .buttonExpenses {
        width: 40%;
    }

    .totalLabel {
        font-size: 2rem;
        width: 76%;
    }

    .totalValue {
        font-size: 2rem;
        width: auto;
    }
}

@media (min-width: 1025px) {
    .expensesScreen {
        position: relative;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 20px;
        padding-bottom: 100px;
        font-family: sans-serif;
    }

    .expensesTitle {
        display: flex;
        margin-top: 24px;
        width: 100%;
        text-align: start;
        font-size: 2rem;
    }

    .buttonExpenses {
        width: 80%;
    }

    .expenseLabel,
    .expenseValue {
        font-size: 1.25rem;
    }

    .totalLabel {
        font-size: 2rem;
        width: 76%;
    }

    .totalValue {
        font-size: 2rem;
        width: auto;
    }
}