#root {
  height: 100%;
}

:root {
  --primary-color: #73261d;
  --secondary-color: #FFFFFF;
  --tertiary-color: #2A2A2A;
  --border-primary: #cececef5;
}

.naoSelecionavel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}