.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  background-color: white;
}

@media (min-width: 1024px) {
  .content {
    margin-left: 20%;
  }
}