.menuScreen {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.containerScore {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.cards {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    overflow-y: auto;
}

.card {
    height: 230px;
    width: 250px;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.imgCar {
    height: 70%;
    width: 100%;
}

.lowerInformations {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

/* .carPlate,
.carPoints {
    height: 100%;
    width: 50%;
}

.carPoints {
    text-align: end;
    background-color: red;
} */